.clients__title {
  font-family: get-font(primary);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 30px;
}
.clients__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.clients__icons {
  width: 170px;
  height: 92px;
  border: 1px solid get-color(icon-nonaction);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: get-color(icon-nonaction);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, fill;

  &:focus,
  &:hover {
    border: 1px solid get-color(action);
    fill: get-color(action);
  }
}

.clients__icons--Logo1 {
  width: 106px;
  height: 60.04px;
}

.clients__icons--Logo2 {
  width: 106px;
  height: 60.04px;
}

.clients__icons--Logo3 {
  width: 106px;
  height: 60px;
}
.clients__icons--Logo4 {
  width: 106px;
  height: 60px;
}
.clients__icons--Logo5 {
  width: 106px;
  height: 60px;
}
.clients__icons--Logo6 {
  width: 93.79px;
  height: 43.96px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients__icons {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__icons {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    padding-bottom: 50px;
  }
}
