header {
  width: 100vw;
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  &__logo {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-top: 24px;
      padding-bottom: 25px;
      padding-right: 83px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 25px;
      padding-right: 93px;
    }
  }
}

.nav {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 46px;
  }
}

.nav__item {
  font-family: get-font(primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: get-color(text);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 46px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, text-decoration, background-color;
  position: relative;

  &:hover,
  &:focus {
    color: get-color(action);
    text-decoration: none;
  }
  &:hover::before,
  &:focus::before {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: get-color(action);
    content: '';
    position: absolute;
    top: 45px;
  }
}

.nav__item--active {
  color: get-color(action);

  &::after {
    content: '';
    position: absolute;
    top: 45px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: get-color(action);
  }
}

.contact {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-left: 101px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contact__item {
  font-family: get-font(primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
  color: get-color(contact);
  fill: get-color(contact);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
  }

  &:hover {
    color: get-color(action);
    fill: get-color(action);
  }
}

.contact__item--mail {
  padding-right: 30px;
  padding-left: 345px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 21px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
  }
}
.contact__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contact__item--tel {
  padding-right: 8px;
}

.contact__icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.menu__open-btn {
  width: 40px;
  height: 40px;
  background: get-bg-color(basic-background);
  fill: get-color(dark-text);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: get-color(action);
  }
}
