.logo {
  font-family: get-font(primary);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: get-color(action);
}
.logo--header {
  color: get-color(dark-text);
}
.logo--footer {
  color: get-color(light-text);
}
.page-footer__logo {
  padding-left: 15px;
  padding-bottom: 20px;
}
