html {
  scroll-behavior: smooth;
}

body {
  background-color: get-bg-color(basic-background);
  font-family: get-font(primary), get-font(secondary), sans-serif;
  color: get-color(text);
  margin-left: auto;
  margin-right: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-gap {
  display: block;
}
