.widgets__background {
  border-radius: 4px;
  height: 120px;
  background: get-bg-color(secondary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.widgets__size {
  width: 70px;
  height: 70px;
}

.widgets__title {
  font-family: get-font(primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  width: 270px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.widgets__text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: get-color(contact);
  display: flex;
  justify-content: flex-end;
  width: 270px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .widgets__background {
    margin-top: 30px;
    width: 450px;
  }
  .widgets__title {
    width: 450px;
    text-align: center;
    justify-content: center;
  }
  .widgets__text {
    width: 450px;
  }
  .section--widgets {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  // nie wiem czy pisać (max-width:1199px)
  .widgets__background {
    // margin-top: 30px;
    width: 354px;
  }
  .widgets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .widgets__text {
    width: 354px;
  }
  .section--widgets {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .widgets__background {
    width: 270px;
  }
  // czy da się jakoś inaczej zapisać, żeby to widgets się dziedziczyło z tabletu
  .widgets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .section--widgets {
    padding-bottom: 0px;
  }
}

// .widgets__background {
//   border: 1px none;
//   border-radius: 4px;
//   width: 270px;
//   height: 120px;
//   background: get-bg-color(secondary-bg);
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .widgets__size {
//   width: 70px;
//   height: 70px;
// }

// .widgets {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   gap: 30px;
// }

// .widgets__title {
//   font-family: get-font(primary);
//   font-size: 14px;
//   font-weight: 700;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-align: left;
//   display: flex;
//   justify-content: flex-start;
//   width: 270px;
//   padding-top: 30px;
//   padding-bottom: 10px;
// }

// .widgets__text {
//   font-family: Roboto;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   text-align: left;
//   color: var(--grey-color);
//   display: flex;
//   justify-content: flex-end;
//   width: 270px;
// }

// .section--widgets {
//   padding-bottom: 0px;
// }
